In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['.DS_Store', 'test.csv', 'train.csv', 'test.csv.zip', 'train.csv.zip']

In [2]:
test = pd.read_csv('../input/test.csv', parse_dates=["activation_date"])
train = pd.read_csv('../input/train.csv',  parse_dates=["activation_date"])

In [3]:
train.describe(include='all')

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
count,1503424,1503424,1503424,1503424,1503424,1503424,1441848,848882,640859,1503424,1387148,1.418062e+06,1.503424e+06,1503424,1503424,1390836,1.390836e+06,1.503424e+06
unique,1503424,771769,28,1733,9,47,371,271,1219,788377,1317102,NaN,NaN,21,3,1390836,NaN,NaN
top,1df0c2df556e,45ba3f23bf25,Краснодарский край,Краснодар,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Обувь,Вторичка,Платье,В хорошем состоянии,NaN,NaN,2017-03-20 00:00:00,Private,3f806216aff5241face2db33a2135ac41ee6a3452f869c...,NaN,NaN
freq,1,1080,141416,63638,697623,282753,226289,150450,50615,15550,2249,NaN,NaN,115190,1075706,1,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-03-15 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-07 00:00:00,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.167081e+05,7.436740e+02,NaN,NaN,NaN,1.241932e+03,1.391306e-01
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.689154e+07,5.572522e+03,NaN,NaN,NaN,9.704641e+02,2.600785e-01
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e+02,9.000000e+00,NaN,NaN,NaN,4.250000e+02,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.300000e+03,2.900000e+01,NaN,NaN,NaN,1.057000e+03,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000e+03,8.800000e+01,NaN,NaN,NaN,2.217000e+03,1.508700e-01
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.950101e+10,2.044290e+05,NaN,NaN,NaN,3.066000e+03,1.000000e+00

In [6]:
train.shape

(1503424, 19)

In [10]:
test['is_train'] = False
train['is_train'] = True

all_df = pd.concat([test, train], axis = 0)

In [11]:
all_df.tail()

,activation_date,category_name,city,deal_probability,description,image,image_top_1,is_train,item_id,item_seq_number,param_1,param_2,param_3,parent_category_name,price,region,title,user_id,user_type
1503419,2017-03-20,Детская одежда и обувь,Пермь,0.25019,NaN,2da79294c6f23f61d4bf6a8f4034f87e2f318b7e32c68b...,88.0,True,5e6b7f0f3f65,7,Для девочек,Обувь,26,Личные вещи,300.0,Пермский край,Ботиночки,dd05217165ea,Private
1503420,2017-03-28,Предложение услуг,Краснодар,0.60000,"Произведем бесплатный замер, изготовим и устан...",33e13a67b441486ebe48e1459382caa620c4d1802aad1c...,1191.0,True,d1f0910d2126,1,"Ремонт, строительство",Ремонт квартиры,NaN,Услуги,200.0,Краснодарский край,Натяжной потолок,dc23ef451c8a,Private
1503421,2017-03-21,Квартиры,Белебей,0.39569,"Продам квартиру с отличным ремонтом , две лодж...",2ae822ca21cff9465e430c68a1df31c5cda658cbc00eb1...,1202.0,True,bc04866bc803,50,Продам,4,Вторичка,Недвижимость,NaN,Башкортостан,"4-к квартира, 83 м², 4/5 эт.",66a7016a5995,Company
1503422,2017-03-22,Детская одежда и обувь,Березники,0.00000,Продам красивые туфли в хорошем состоянии!,6b4285c22388a5dae37c3d390d3e1b174f7a980d9e3919...,87.0,True,f782f2ad9349,33,Для девочек,Обувь,27,Личные вещи,350.0,Пермский край,Туфли-балетки,2d3ac1f5a7b3,Private
1503423,2017-03-21,Товары для детей и игрушки,Анапа,0.00000,ПРЕДЛАГАЕМ ВАШЕМУ ВНИМАНИЮ УНИКАЛЬНЫЕ ИГРУШКИ ...,87cca5889b96b0368bffbe7cdb3f0cc5fa660f33be9fd0...,979.0,True,9ad3b7bff1db,18,Игрушки,NaN,NaN,Личные вещи,1500.0,Краснодарский край,Кукольные домики из берез. фанеры (большой выбор),f3342ccd95c8,Private

In [12]:
# New variable of weekday
all_df["activation_weekday"] = all_df["activation_date"].dt.weekday

In [13]:
all_df.head()

,activation_date,category_name,city,deal_probability,description,image,image_top_1,is_train,item_id,item_seq_number,param_1,param_2,param_3,parent_category_name,price,region,title,user_id,user_type,activation_weekday
0,2017-04-18,Детская одежда и обувь,Волгоград,NaN,На ангарском,a8b57acb5ab304f9c331ac7a074219aed4d349d8aef386...,2020.0,False,6544e41a8817,66,Для мальчиков,Обувь,25,Личные вещи,NaN,Волгоградская область,Отдам бесплатно,dbe73ad6e4b5,Private,1
1,2017-04-16,Велосипеды,Нижняя Тура,NaN,"Продам велосипед KAMA F200,в нормальном состо...",NaN,NaN,False,65b9484d670f,4,Дорожные,NaN,NaN,Хобби и отдых,3000.0,Свердловская область,Продам велосипед,2e11806abe57,Private,6
2,2017-04-17,Аудио и видео,Бердск,NaN,Продам новый телевизор BBK 32 диагональ смарт...,8c361112cb049745ef2d1b0ae73594fc5c107286b0c942...,2960.0,False,8bab230b2ecd,15,Телевизоры и проекторы,NaN,NaN,Бытовая электроника,15000.0,Новосибирская область,BBK,0b850bbebb10,Private,0
3,2017-04-17,Бытовая техника,Саратов,NaN,"Продам новую вытяжку в упаковке,с документами....",NaN,NaN,False,8e348601fefc,70,Для кухни,Вытяжки,NaN,Для дома и дачи,4500.0,Саратовская область,Вытяжка Jetair 60,5f1d5c3ce0da,Private,0
4,2017-04-15,Товары для детей и игрушки,Бузулук,NaN,Продам отличную коляску. б/у 1 год. все вопрос...,bc3cf6deef10840fc302e38eb48fa7748aa1e28d534f8f...,1002.0,False,8bd2fe400b89,15,Детские коляски,NaN,NaN,Личные вещи,4900.0,Оренбургская область,Коляска зима-лето,23e2d97bfc7f,Private,5

In [ ]:
# New variable of holiday
all_df["activation_holiday"] = 0
for index, row in all_df.iterrows():
    if row[ "activation_weekday"] >= 6:
        all_df.at[index,  "activation_holiday"] = 1

In [19]:
all_df.head()

In [31]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [32]:
le.fit(all_df['item_id'])

In [ ]:
cat_vars = ["user_id", "region", "city", "parent_category_name", "category_name", "param_1", "param_2", "param_3", "user_type"]
for col in cat_vars:
    all_df[col] = all_df[col].astype('str')
    le.fit(all_df[col])
    all_df[col] = le.transform(all_df[col])

In [ ]:
all_df.head()

In [ ]:
cols_to_drop = ["item_id", "title", "description", "activation_date", "image"]
all_df = all_df.drop(cols_to_drop, axis = 1)

In [ ]:
all_df.head()

In [ ]:
all_df = all_df.fillna(0)

In [ ]:
all_df.head()

In [1]:
all_df.loc[all_df['param_1']==110].head()

In [ ]:
train_df= all_df.loc[all_df['is_train']==True].drop(['is_train'], axis = 1)
test_df = all_df.loc[all_df['is_train'] == False].drop(['is_train', 'deal_probability'], axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_X, valid_X, train_y, valid_y = train_test_split(train_df.drop('deal_probability', axis=1), 
                                                      train_df['deal_probability'], test_size=0.2)

In [ ]:
from sklearn.metrics import mean_squared_error as mse
print(np.sqrt(mse(rf.predict(valid_X), valid_y)))

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(verbose = 1,  n_estimators=100)
rf.fit(train_X,train_y)

In [ ]:
pred_test_y = rf.predict(test_df)

In [ ]:
pred_test_y[:5]

In [ ]:
pred_test_y[pred_test_y>1] = 1
pred_test_y[pred_test_y<0] = 0
test_id = test['item_id'].values
sub = pd.DataFrame({'item_id':test_id})
sub['deal_probability'] = pred_test_y
sub.to_csv('rf_test.csv', index=False)

In [2]:
sub.head()